table{
    width: 0%;
    border-collapse: collapse;
}

td{
    padding: 5px;
    border: 1px solid #000000;
}

tr:nth-child(odd){
    background-color: #dddddd;
}

li{
    padding: 3px;
}

aside{
    position:fixed;
    top: 300px;
    right: 1px;
    border: 1px solid red;
    width: 450px;
}

h1,h2,h3{
    font-family: cursive;
}

footer{
    color: gray;
}